{% for b in bids_btc %}
    <tr {% if b.player == player %}class="text-light bg-success"{% endif %}>
        {% if player.btc_tax_active %}
            <td style="width: 25%" class="filterable-cell">{{ b.price }}</td>
            <td style="width: 25%" class="filterable-cell">{{ b.price_incl_tax }}</td>
            <td style="width: 30%" class="filterable-cell">{{ b.quantity }}</td>
            <td style="width: 20%">{% if b.player == player %}(You!){% else %}&nbsp;{% endif %}</td>
        {% else %}
            <td style="width: 30%" class="filterable-cell">{{ b.price }}</td>
            <td style="width: 40%" class="filterable-cell">{{ b.quantity }}</td>
            <td style="width: 30%">{% if b.player == player %}(You!){% else %}&nbsp;{% endif %}</td>
        {% endif %}
    </tr>
{% endfor %}
