<script>
    $(function () {
        {# The following lines define the path to the oTree server  #}
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        {# The ws_path corresponds to url_pattern that is defined in our consumers.py file #}
        {# We need the player.id to find the corresponding player in the database #}
        var ws_path = ws_scheme + '://' + window.location.host + "/tasktracker_stage1/{{ player.id }}";
        var socket = new ReconnectingWebSocket(ws_path);


        // automatically update the btc endowment of seller, given dollar endowment
        $seller_endowment = $('#seller_endowment');
        $seller_dollar_allocation = $('#id_allocation_unit_dollar');
        $seller_btc_allocation = $('#allocation_unit_btc')
        $seller_dollar_allocation.on('input', function() {
            {#  We wrap the answer into a javascript object #}
            // alert($seller_dollar_allocation.val())
            // alert($seller_allocation.val()-$seller_dollar_allocation.val())
            $seller_btc_allocation.val($seller_endowment.val()-$seller_dollar_allocation.val())
        });


        // automatically update the dollar saving of buyer, given dollar endowment
        $buyer_dollar_endowment = $('#buyer_dollar_endowment');
        $buyer_dollar_allocation = $('#id_allocation_dollar');
        $buyer_dollar_saving = $('#allocation_dollar_save')
        $buyer_dollar_allocation.on('input', function() {
            {#  We wrap the answer into a javascript object #}
            $buyer_dollar_saving.val($buyer_dollar_endowment.val()-$buyer_dollar_allocation.val())
        });

        // automatically update the btc saving of buyer, given btc endowment
        $buyer_btc_endowment = $('#buyer_btc_endowment');
        $buyer_btc_allocation = $('#id_allocation_btc');
        $buyer_btc_saving = $('#allocation_btc_save')
        $buyer_btc_allocation.on('input', function() {
            {#  We wrap the answer into a javascript object #}
            $buyer_btc_saving.val($buyer_btc_endowment.val()-$buyer_btc_allocation.val())
        });

    });
</script>