        <button type="button" class="btn btn-danger" id="randomG_button" name="RandomNumber" onclick="count_click()">Instruction</button>
{% if group.sequence_number == 0 %}
         This is a <strong>training period </strong> and chips earned in this period won't count towards your earnings.
            {% else %}
This is period <b>{{ group.round_within_sequence }}</b> of Sequence {{group.sequence_number}}.
        {% endif %}
        You are a <b>{{ player.role|capfirst }}</b>.
You have <b>{{ player.allocation_dollar }}</b> units of Currency A
and <b>{{ player.allocation_btc }}</b> units of Currency B.
You made <b>{{ player.Currency_symbol}}{{ player.thissequence_euro }}</b> from previous periods in the sequence.

