{% load otree staticfiles %}

<div class="card bg-light instructions" id="show_hide">
    <div class="card-body">

    <h2>
        Instructions
    </h2>

    <p>
        Welcome! Today you will be participating in an experiment studying economic decision-making.
Your identity in this experiment will be <b>anonymized</b>, information on your decisions will only be linked to your station ID, and never connected to personally identifiable information. At the end of the experiment, you will be asked to provide your <b>{{ player.Currency_contact_info }}</b> for payment. Your {{ player.Currency_contact_info }} will not be stored: once we have processed your electronic payment, we will erase payment information.  You may use a <b>calculator</b> anytime during the experiment.
	</p>



    <p>
        There will be a set of instructions on the next page, please read these instructions carefully and <b>answer the four-question quiz</b> on the following page in order to proceed to the experiment. You can go back and forth between the instruction page and the quiz page as many times as necessary. Once all participants have answered all questions correctly, you will start the experiment. At the end of the experiment, you will be asked to fill out a <b>short questionnaire</b> and submit your {{ player.Currency_contact_info }}.
    </p>

    <p>
        Thank you for your participation and good luck! </p>


</div>
</div>
