{% load otree staticfiles %}

<div class="card bg-light instructions" id="show_hide">
    <div class="card-body">

    <h2>
        Instructions
    </h2>


<br>
<h3>Overview of the experiment</h3>
<p>
In this experiment, you will be trading with other players to get as many chips as you can by playing a real-time <strong>market game</strong> that uses a double auction mechanism (both buyers and sellers will be making offers). These chips determine your payout at the end of the experiment. To get chips, you will need to buy and sell packages of chips with other participants in the experiment. You will have to buy different types of packages of chips with different currencies.

These market games are made up of sequences of periods. Each sequence is played in <strong>blocks of {{ session.config.block_length }} periods</strong>. For every sequence, the computer has a hidden ending period that is fixed in advance but not revealed during play. You will always finish the current block before learning whether the sequence has ended. At the end of each block, the computer checks whether the hidden ending period occurred somewhere in that block. If it did not, the sequence continues for another block. If it did, the sequence ends after the block, currency holdings are reset, and a new sequence starts. Only the periods up to and including the hidden ending period count for earnings; any later periods in that completed block are discarded.</p>

<!--You will encounter waiting pages when other players are making decisions. We request that you remain attentive as this experiment requires an even-number of participants. <strong>If you do not respond within a given time limit you may be dropped from the experiment</strong>. If someone is dropped from the experiment, the server will automatically drop one other player to maintain an even number of participants. If you are dropped, you will be given a show-up fee plus whatever earnings you have accumulated so far.-->

<p>This experiment contains <strong>one training sequence and three paid sequences</strong>. After a sequence has ended, if there is not enough time remaining to start a new sequence, the experiment ends.</p>

<p>Before beginning the paid part of the experiment, you will complete a <strong>training sequence</strong> to familiarize yourself with the interface. Decisions made during the training sequence will not count toward your final earnings. It will be made clear to you and all other players when the paid experiment starts.</p>


<br>
<h3>The market game</h3>
<p>You are part of a group of <b> players</b> participating in markets where you buy and sell packages of chips. The rules are the same for all players. You will be split into equally sized groups of <b>buyers</b> and <b>sellers</b>. Each player will alternate between the roles of seller and buyer from period to period. Whether you start your first period as a seller or a buyer is randomly determined by the computer. For instance, if you are assigned the role of a buyer in period 1, you will then be a seller in period 2, then a buyer again in period 3, and so on until the sequence ends.</p>
	
<p>You will buy and sell chips in <strong>two markets that each use different currencies</strong>: Market A using Currency A and Market B using Currency B. Since you will alternate roles, buying chips is possible only every second period (when you are a buyer). Whenever you begin a period as a seller, you will be given 5 packages which you cannot use or keep for yourself, your goal as a seller is to sell these packages in order to increase your currency holdings to buy more packages when you are once again a buyer.</p>


<br>
<div {{ player.no_transaction_hidden}}>
    <h3>Number of chips per package</h3>
    <p>Chips are <strong>bought and sold in packages</strong>. Packages come in two types depending on which market you buy them from, the first type of package can only be bought from Market A which uses Currency A, the second type can only be bought from Market B which uses Currency B. When you buy a package, the number of chips you get depends on which currency/market you used to purchase the package and how many packages you already own.</p>

    <ul><li><strong>Packages bought with currency A</strong> can only be bought from Market A and will yield increasingly fewer chips, the more you purchase of these packages in a given period, the less each new package of this type will be worth to you. The first package bought using Currency A gives you 100 chips, the second package gives you 90 chips, ... , the 10th package only gives you 10 chips, ..., and any additional package beyond the 19th purchased only brings you one chip.</li>

    <li><strong>Packages bought with currency B</strong> can only be bought from Market B and will always be worth 75 chips per package regardless of how many you have bought.</li></ul>

    <table class="table table-striped" >
    <tbody>
    <tr>
    <td>Package</td>
    <td>1st</td>
    <td>2nd</td>
    <td>3rd</td>
    <td>4th</td>
    <td>5th</td>
    <td>...</td>
    <td>10th</td>
    <td>11th</td>
    <td>12nd</td>
    <td>...</td>
    <td>19th and beyond</td>
    </tr>
    <tr>
    <td>Chip content (in A)</td>
    <td>100</td>
    <td>90</td>
    <td>80</td>
    <td>70</td>
    <td>60</td>
    <td>...</td>
    <td>10</td>
    <td>9</td>
    <td>8</td>
    <td>...</td>
    <td>1</td>
    </tr>
    <tr>
    <td>Chip content (in B)</td>
    <td>75</td>
    <td>75</td>
    <td>75</td>
    <td>75</td>
    <td>75</td>
    <td>...</td>
    <td>75</td>
    <td>75</td>
    <td>75</td>
    <td>...</td>
    <td>75</td>
    </tr>
    </tbody>
    </table>

<p><u>Example</u>: You buy 1 package using Currency A and 2 packages using Currency B in the first period of trading. Then you alternate roles to seller in the second period, then in the third period of trading, are a buyer again and you buy 2 more packages in Currency A and 1 more in package in Currency B. In total, you have purchased (100) + (100 + 90) = 290 chips using Currency A and 3 x 75 = 225 chips using Currency B, for a total of 290 + 225 = 515 chips so far.</p>
</div>

<div {{ player.no_transaction_show}}>
    <h3>Number of chips per package</h3>
    <p>Chips are <strong>bought and sold in packages</strong>. Packages come in two types depending on which market you buy them from, the first type of package can only be bought from Market A which uses Currency A, the second type can only be bought from Market B which uses Currency B. Packages in <strong>both</strong> auction houses are always worth <strong>100</strong> chips per package.</p>


    <table class="table table-striped" >
    <tbody>
    <tr>
    <td>Package</td>
    <td>1st</td>
    <td>2nd</td>
    <td>3rd</td>
    <td>4th</td>
    <td>5th</td>
    <td>...</td>

    </tr>
    <tr>
    <td>Chip content (in A)</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>...</td>
    </tr>
    <tr>
    <td>Chip content (in B)</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>...</td>
    </tr>
    </tbody>
    </table>

<p><u>Example</u>: You buy 1 package using Currency A and 2 packages using Currency B in the first period of trading. Then you alternate roles to seller in the second period, then in the third period of trading, are a buyer again and you buy 2 more packages in Currency A and 1 more in package in Currency B. In total, you have purchased 3 x 100 = 300 chips using Currency A and 3 x 100 = 300 chips using Currency B, for a total of 300 + 300 = 600 chips so far.</p>
</div>


<br>
<h3>What happens during a period of the market game</h3>
<ul>
<li class="p1">When you <b>first start a sequence</b>, you will receive 100 units of Currency A and 100 units of Currency B.</li>
<li class="p1">At the beginning of <b>every period</b> when you are a seller, you will receive 5 packages, you must choose to allocate them to be sold on Market A or Market B.</li>
<li class="p1">At the end of <b>every period</b> when you are a seller, you lose all packages you failed to sell.</li>
<li class="p1">In each period, you will participate (either as a seller or as a buyer) in two different markets, one using Currency A (red boxes) and one using Currency B (blue boxes).</li>
<li class="p1">Packages that yield diminishing numbers of chips are sold in Market A for Currency A, Packages that yield constant numbers of chips are sold in Market B for Currency B.</li>
<li class="p1">You will carry over currency changes from period to period according to your actions as a buyer or seller.</li>
</ul>

<br {{ player.inflation_info}}>
<h3 {{ player.inflation_info}}>Growth of the amount of Currency A</h3>
<p {{ player.inflation_info}}> In each sequence, at the end of <strong> each period</strong>, the holdings in <strong>currency A of all players</strong>, whether sellers or buyers,  are <strong> increased by 30% </strong>.
    For instance, suppose you were a seller in period 1 and sold packages against 80 units in currency A. You then start period 2 as a buyer with 80 + 80 * 30% = 104 of currency A. </p>

<p {{ player.inflation_info}}>This way, the total quantity of currency A in the experimental market increases by 30% per period. This increase only concerns currency A, the total amount of currency B remains unchanged throughout any sequence.</p>

	
	
	
<br>
<h3>Phases within a Period and their time limits </h3>
<ol>
<li class="p1">Allocating Packages Phase: Sellers' choose what allocation of their 5 packages goes to Market A or Market B (<strong>30 seconds</strong>).</li>
<li class="p1">Trading Phase: Buyers and Sellers make real-time offers for packages (<strong>90 seconds</strong>).</li>
</ol>

<p style="padding-left: 30px;"><u>Note</u>: A trading phase will close before time runs out whenever there are no more packages available for sale or there is no currency left to be spent. Hence a period of the market game lasts a maximum of 4 minutes.</p>



<br>
<h3>Allocating Packages Phase:</h3>
<ul>
<li class="p1">This happens before the trading phase of a period</li>
<li class="p1">Sellers are given 5 packages. They must choose how many of them they want to be offered on Market A and how many can be offered on Market B.</li>
</ul>




<br>
<h3>Trading Phase</h3>

<ul>
<li class="p1">Sellers post <strong>asks</strong>, offers to sell a certain number of packages and the price they want to sell.</li>
<li class="p1">Buyers post <strong>bids</strong>; offers to buy a number of packages and the highest price they will pay up to.</li>
<li class="p1">Bids/asks can be changed at any time if they have not yet gone through.</li>
<li class="p1">You can cancel your last bid/ask by clicking the "<em><strong>Retract last bid</strong></em>" button and "<em><strong>Retract last ask</strong></em>" button</li>
</ul>
<p class="p1" style="padding-left: 60px;"><u>Note</u>: You can shortcut your participation in the market by clicking on the "<em><strong>Accept best bid</strong></em>" button as a seller (this means that you accept to sell at the highest price among all prices offered by the buyers), and by clicking the "<em><strong>Accept best ask</strong></em>" as a buyer (this means that you accept to buy at the lowest price among all prices offered by the sellers).</p>


<ul><li class="p1">A trade is finalized every time there is an ask price equal or less than a bid price.
<ul>
<li class="p1">The transaction price is the seller's asking price and the number of packages exchanged is the minimum between the number of packages offered by the seller, and desired by the buyer.</li>
<li class="p1">As a buyer, if no packages are for sale at or below your bid price, you will not buy any packages.</li>
<li class="p1">As a seller, if no packages are demanded for a price equal or higher to your ask price, you will not sell any packages.</li></ul></li></ul>
<p class="p1" style="padding-left: 60px;"><span style="text-decoration: underline;">Example:</span>You are a buyer and your bid is 2 packages at 100 units of Currency A. There is a seller whose ask is 3 packages at 80 units of Currency A. The transaction takes place and you buy from that seller 2 packages at 80 units of Currency A.</p>


<ul>
<li class="p1">You can submit as many asks and bids as you want as long as the markets are open.
<ul>
<li class="p1">As a buyer, you can never spend more currency than what you have allocated to each market. It can happen that you are not able to spend all your currency holdings. In this case, the remaining balance is then transferred to the next period.</li>
<li class="p1">As a seller, you can never sell more packages than you have allocated to a Market. It can happen that you are not able to sell all your packages. In this case, the unsold packages disappear at the end of that trading phase, which means that they may not be consumed or sold later.</li>

</ul>
</li></ul>




{% if session.config.dollar_freeze_enabled %}
<br>
<h3>Dollar account freeze (Currency A)</h3>
<p>In some periods, your <strong>Dollar (Currency A) account may be frozen</strong>. Whether your dollar account is frozen is decided <strong>randomly and independently in each period</strong> while you are a buyer.</p>
<ul>
<li class="p1">While your dollar account is frozen, <strong>you cannot use your dollars</strong>: you cannot post Dollar bids or accept Dollar offers that period. The Dollar interface is disabled and clearly marked as frozen.</li>
<li class="p1">Your <strong>dollar balance is not lost</strong>. It is kept and carried over, and becomes fully usable again in any later period in which your dollar account is not frozen.</li>
<li class="p1">A freeze affects <strong>only Currency A</strong>. Your <strong>Currency B (bitcoin) trading is never affected</strong> — you can keep trading in Market B normally even when your dollars are frozen.</li>
<li class="p1">Sellers are never frozen; the freeze only applies to buyers.</li>
</ul>
{% endif %}

{% if session.config.btc_transaction_factor != 1 %}
<br>
<h3>Transaction tax in Market B (Currency B)</h3>
<p>A <strong>transaction tax applies only to trades in Market B (Currency B)</strong>. Trades in Market A (Currency A) are never taxed.</p>
<ul>
<li class="p1">Bids and asks in Market B are always shown <strong>at their pre-tax price</strong>. The displayed price, the spread, and the matching of bids and asks are unaffected by the tax.</li>
<li class="p1">When a trade goes through in Market B at a displayed price, the <strong>seller receives exactly the displayed price</strong> in Currency B.</li>
<li class="p1">The <strong>buyer pays the displayed price divided by f</strong>, where f = {{ session.config.btc_transaction_factor }}. Because f is at most 1, the buyer pays at least the displayed price; the extra amount (displayed price ÷ f − displayed price) is the tax.</li>
<li class="p1">All tax collected in Market B during a period is <strong>returned to all players in equal shares as Currency B at the start of the next period</strong> (within the same sequence). Tax collected in the last period of a sequence is not carried into the next sequence.</li>
</ul>
<p style="padding-left: 30px;"><u>Example</u> (f = {{ session.config.btc_transaction_factor }}): a Market B trade displayed at a price of 50 means the seller receives 50 of Currency B and the buyer pays 50 ÷ {{ session.config.btc_transaction_factor }} of Currency B. The difference is collected as tax and split equally among all players next period.</p>
{% endif %}


<br>
<h3>Your earnings at the end of the experiment</h3>
<p class="p2">The chips you purchase convert into money, hence you can accrue earnings only when you are a buyer. The payoff graphic below <span class="s2">indicates how many {{ player.Currency_name}}s</span> you can earn (y-axis) as a function of the number of chips you purchase in a given period (x-axis). There is also a slider that you can use to see the exact amount of {{ player.Currency_name}}s for each exact number of chips.</p>

<div id="container_euro"></div>
		
<p class="p1">The more chips you buy, the more real-life money you can earn at the end of the experiment. However the chips you buy will convert into progressively less currency the more chips you accumulate within a single period.</p>

<p class="p1">Your total earnings in each sequence are the sum of your earnings in every period when you are a buyer during that sequence <strong>up to the hidden ending period for that sequence</strong>. If you complete extra periods in the same block after that hidden ending period, those later periods are discarded and do not count for earnings. At the end of the experiment, two sequences will be randomly selected and we will pay you <strong>the money you earn during those two sequences</strong>. This will be the only payment in the experiment.</p>



<br>
<h3>Summary</strong></h3>
<ul>
<li class="p2">You will play one training sequence and three paid sequences. Each sequence is played in blocks of {{ session.config.block_length }} periods and has a hidden ending period that is fixed in advance.</li>
<li class="p2">At the end of each block, the computer checks whether the hidden ending period occurred within that block. If it did, the sequence ends and a new sequence starts. If it did not, the sequence continues for another block.</li>
<li class="p2">Only the periods up to and including the hidden ending period count for earnings. Any later periods played in the same completed block are discarded.</li>
<li class="p2">During each sequence, you will alternate between being buyers and sellers of packages of chips. You can buy and sell chips in Market A using Currency A, or Market B using Currency B.</li>
<li class="p2">At the beginning of each period, when you are a seller, you receive 5 packages of chips to sell to choose to allocate to Market A or Market B, these packages cannot be used or kept by you after each period.</li>
<li class="p2">You start every sequence with 100 units of Currency A and 100 of Currency B. Your changes will carry over from period to period.</li>
<li class="p2" {{ player.no_transaction_hidden}}>The more packages you buy in Currency A, the fewer chips each additional package contains. Packages bought in Currency B always contain the same amount of chips. This resets every period.</li>
<li class="p2">The more chips you purchase in each period, the higher your payoff but earnings do not increase as fast as the number of chips purchased. Only the total earnings from two sequences will be paid out to you at the end of the experiment.</li>
</ul>
        <h3>Video Instructions</strong></h3>
         <iframe width="860" height="520" src="https://www.youtube.com/embed/hYUZO_DEZWM"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture" allowfullscreen></iframe>


</div>
</div>
