{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
 {% if player.round_number in group.final_round_in_sequence %}
    End of the Sequence
 {% else %}
    Sequence Continues
 {% endif %}
{% endblock %}

{% block content %}



<div class="">
{% if group.sequence_number == 0 %}
    {% if player.round_number in group.final_round_in_sequence %}
        You made a total of {{player.thissequence_euro}} during the training sequence. <strong>The training sequence has ended. You will be starting the paid experiment.</strong>
    {% else %}
        You made a total of <b>{{ player.thissequence_euro }}</b> from previous periods in the training sequence.

    {% endif %}
{% else %}
    The virtual dice rolled a {{ group.drawn_number }}.



    {% if group.is_last_sequence == 1 %}
    You made a total of {{player.thissequence_euro}} during sequence {{ group.sequence_number }}.
    There is no more time for an additional sequence. The experiment ends here.

    {% elif player.round_number in group.final_round_in_sequence %}
    This sequence has ended. You made a total of {{player.thissequence_euro}} during sequence {{ group.sequence_number }}.
    You will be starting a new sequence. Your currency and chip holdings will be reset.

    {% else %}
    This sequence continues.

    {% endif %}

{% endif %}
</div>



    {% next_button %}

{% endblock %}


{% block scripts %}
    {#  Here we include javascript block where we connect via websockets to oTree server  #}
    {% include 'double_auction/includes/channel-js.html' %}
{% endblock %}


